<!DOCTYPE html>
<html lang="en">
   <%- include('../layouts/header') %>
   <body id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">
         <!-- Sidebar -->
         <%- include('../layouts/sidebar') %>
         <!-- End of Sidebar -->
         <!-- Content Wrapper -->
         <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
               <!-- Topbar -->
               <%- include('../layouts/topbar') %>
               <!-- End of Topbar -->
               <!-- Begin Page Content -->
               <div class="container-fluid">
                  <!-- Page Heading -->
                  <!-- DataTales Example -->
                  <div class="card shadow mb-4">
                     <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Add Customer</h6>
                     </div>
                     <div class="card-body">
                        <form id="customer_form">
                           <div class="form-row">
                              <div class="form-group col-md-6">
                                 <label for="inputEmail4" class="col-form-label">Customer Name</label>
                                 <input type="text" name="customer_name" class="form-control" id="customer_name" placeholder="Customer Name">
                              </div>
                              <div class="form-group col-md-6">
                                 <label for="customer_address" class="col-form-label">Address</label>
                                 <textarea name="customer_address" id="customer_address" class="form-control" placeholder="Address"></textarea>
                              </div>
                           </div>
                           <div class="form-row">
                              <div class="form-group col-md-6">
                                 <label for="customer_phone_number" class="col-form-label">Phone Number</label>
                                 <input type="number" name="customer_phone_number" class="form-control" id="customer_phone_number" placeholder="Phone Number">
                              </div>
                           </div>
                           <button type="submit" id="create_customer" class="btn btn-primary">Create Customer</button>
                        </form>
                     </div>
                  </div>
               </div>
               <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
         </div>
         <!-- End of Content Wrapper -->
      </div>
      <!-- End of Page Wrapper -->
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
      </a>
      <%- include('../layouts/model') %>
      <!-- Logout Modal-->
      <!-- Bootstrap core JavaScript-->
      <!-- <script src="../../admin/vendor/jquery/jquery.min.js"></script> -->
      <%- include('../layouts/footer_js') %>
      <!-- <script src="../../plugin/datatable/main.js"></script> -->
      <script src="../../plugin/validation/validation.js"></script>
      <script defer src="../../render/customer/add.js"></script>
   </body>
</html>